.container {
  background-color: lighten(#011627, 5%);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 16px;
}

.title {
  color: #00b8d4;
}
